* {
    background-color: lightgreen;
    text-align: center;
}
img {
    display: inline;
}
div {
    text-align: center;
}
.list {
    display: table;
    margin: 0 auto;
}
ol {
    width: 200px;
}
li {
    text-align: left;
}

.photos {
    display: flex;
    justify-content: space-between;
    
}